{%  extends 'accounts/main.html' %}
{% load static %}
{% block content %}

<style>
	.profile-pic{
		max-width: 200px;
		max-height:200px;
		margin: 0 auto;
		border-radius: 50%;
	}
	.box{
		height:25px;
		width: 60px;
	}
</style>

<br>
<div class="row">
	<div class="col-md-3">
		<div class="card card-body">
			<a class="btn btn-warning" href="{% url 'home' %}"> &#8592; Back to Profile</a>
			<hr>
			<h3 style="text-align: center">Account Settings</h3>
			<hr>
			<!-- the pillow is not working{{request.user.customer.profile_pic.url}}-->
			<img class="profile-pic" src="{% static 'accounts/images/avatar.jpg' %}" style="width:80%;">
		</div>
	</div>
	<div class="col-md-9">
		<div class="card card-body">
			
			<form method="POST" action="" enctype="multipart/form-data">
				{% csrf_token %}
				<strong>Name: <br></strong>
				<input type="text" name="name" value="{{form.name.value}}" required><br><br>
				<strong>Age: <br></strong>
				<input type="text" name="Age" value="{{form.Age.value}}" required><br>

				<strong><br>Address</strong><br><br>
			
			<label for="street_line1">Street: </label>
				<input id="street_line1" type="text" name="street_line1" value="{{ form.street_line1.value }}">
			
				<label for="city">City: </label> 
				<input id="city" type="text" name="city" value="{{ form.city.value }}">

				<label for="state">State: </label>
				<select name="state" size="1">
					<option id="state" type="text" name="state" value="{{ form.state.value }}">{{ form.state.value }}</option>
					<option value="AL">AL</option>
					<option value="AK">AK</option>
					<option value="AZ">AZ</option>
					<option value="AR">AR</option>
					<option value="CA">CA</option>
					<option value="CO">CO</option>
					<option value="CT">CT</option>
					<option value="DE">DE</option>
					<option value="FL">FL</option>
					<option value="GA">GA</option>
					<option value="HI">HI</option>
					<option value="ID">ID</option>
					<option value="IL">IL</option>
					<option value="IN">IN</option>
					<option value="IA">IA</option>
					<option value="KS">KS</option>
					<option value="KY">KY</option>
					<option value="LA">LA</option>
					<option value="ME">ME</option>
					<option value="MD">MD</option>
					<option value="MA">MA</option>
					<option value="MI">MI</option>
					<option value="MN">MN</option>
					<option value="MS">MS</option>
					<option value="MO">MO</option>
					<option value="MT">MT</option>
					<option value="NE">NE</option>
					<option value="NV">NV</option>
					<option value="NH">NH</option>
					<option value="NJ">NJ</option>
					<option value="NM">NM</option>
					<option value="NY">NY</option>
					<option value="NC">NC</option>
					<option value="ND">ND</option>
					<option value="OH">OH</option>
					<option value="OK">OK</option>
					<option value="OR">OR</option>
					<option value="PA">PA</option>
					<option value="RI">RI</option>
					<option value="SC">SC</option>
					<option value="SD">SD</option>
					<option value="TN">TN</option>
					<option value="TX">TX</option>
					<option value="UT">UT</option>
					<option value="VT">VT</option>
					<option value="VA">VA</option>
					<option value="WA">WA</option>
					<option value="WV">WV</option>
					<option value="WI">WI</option>
					<option value="WY">WY</option>
					</select>

				<label for="zipcode">zipcode: </label>
				<input id="zipcode" type="text" name="zipcode" value="{{ form.zipcode.value }}">
			
				<br><br>

				<br><h4>Value Scores</h4>
				<input type="number" class="box"
					   name="agriculture"
					   min="0" max="100"
					   value="{{form.agriculture.value}}"
					   required> --Agriculture<br>
				<input type="number" class="box"
					   name="military_and_veterans"
					   min="0" max="100"
					   value="{{form.military_and_veterans.value}}"
					   required> --Military & Veteran's Affairs<br>
				<input type="number" class="box"
					   name="education_and_labor"
					   min="0" max="100"
					   value="{{form.education_and_labor.value}}"
					   required> --Education & Labor<br>
				<input type="number" class="box"
					   name="international_affairs"
					   min="0" max="100"
					   value="{{form.international_affairs.value}}"
					   required> --International Affairs<br>
				<input type="number" class="box"
					   name="defense_and_intelligence"
					   min="0" max="100"
					   value="{{form.defense_and_intelligence.value}}"
					   required> --Defense & Intelligence<br>
				<input type="number" class="box"
					   name="energy"
					   min="0" max="100"
					   value="{{form.energy.value}}"
					   required>--Energy<br>
				<input type="number" class="box"
					   name="healthcare"
					   min="0" max="100"
					   value="{{form.healthcare.value}}"
					   required> --Healthcare<br>
				<input type="number" class="box"
					   name="environment"
					   min="0" max="100"
					   value="{{form.environment.value}}"
					   required> --Environment<br>
				<input type="number" class="box"
					   name="infrastructure"
					   min="0" max="100"
					   value="{{form.infrastructure.value}}"
					   required> --Infrastructure<br>
				<input type="number" class="box"
					   name="science"
					   min="0" max="100"
					   value="{{form.science.value}}"
					   required> --Science & Technology<br>

<!--				<br><h4>Value Scores</h4>-->
<!--				<input type="number" class="box" name="military" min="0" max="100" value="{{form.military.value}}" required> &#45;&#45;Military<br>-->
<!--				<input type="number" class="box" name="government" min="0" max="100" value="{{form.government.value}}" required> &#45;&#45;Government<br>-->
<!--				<input type="number" class="box" name="education" min="0" max="100" value="{{form.education.value}}" required> &#45;&#45;Education<br>-->
<!--				<input type="number" class="box" name="healthcare_and_medicare" min="0" max="100" value="{{form.healthcare_and_medicare.value}}" required> &#45;&#45;Healthcare & Medicare<br>-->
<!--				<input type="number" class="box" name="veteran_affairs" min="0" max="100" value="{{form.veteran_affairs.value}}" required> &#45;&#45;Veteran Affairs<br>-->
<!--				<input type="number" class="box" name="housing_and_labor" min="0" max="100" value="{{form.housing_and_labor.value}}" required> &#45;&#45;Housing & Labor<br>-->
<!--				<input type="number" class="box" name="international_affairs" min="0" max="100" value="{{form.international_affairs.value}}" required> &#45;&#45;International Affairs<br>-->
<!--				<input type="number" class="box" name="energy_and_environment" min="0" max="100" value="{{form.energy_and_environment.value}}" required> &#45;&#45;Energy & Environment<br>-->
<!--				<input type="number" class="box" name="Science" min="0" max="100" value="{{form.Science.value}}" required> &#45;&#45;Science<br>-->
<!--				<input type="number" class="box" name="transportation_and_infrastructure" min="0" max="100" value="{{form.transportation_and_infrastructure.value}}" required> &#45;&#45;Transporation & Infrastructure<br>-->
<!--				<input type="number" class="box" name="food_and_agriculture" min="0" max="100" value="{{form.food_and_agriculture.value}}" required> &#45;&#45;Food & Agriculture<br>-->
<!--				<input type="number" class="box" name="socialsecurity_or_unemployment" min="0" max="100" value="{{form.socialsecurity_or_unemployment.value}}" required> &#45;&#45;Social Security & Unemployment<br>-->

				<hr>
				

				<input class="btn btn-success" type="submit" name="Update Information" >
			</form>
			{% for message in messages %}
				<!-- 
				<p id="messages">{{message}}</p>
				-->
				{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
					<p id="messages" style="color:green">{{message}}</p>
				{% endif %}
				{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
					<p id="messages" style="color:red">{{message}}</p>
				{% endif %}
			{% endfor %}
		</div>
	</div>
	

</div>



{% endblock %}