{%  extends 'accounts/main.html' %}
{% load static %}
{% block content %}

<style>
	.profile-pic{
		max-width: 200px;
		max-height:200px;
		margin: 0 auto;
		border-radius: 50%;
	}
	.rangeslider{
    	width: 50%;
	}
	.myslider {
    	-webkit-appearance: none;
    	background: #FCF3CF  ;
    	width: 50%;
    	height: 20px;
    	opacity: 2;
   }
	.myslider::-webkit-slider-thumb {
    	-webkit-appearance: none;
    	cursor: pointer;
    	background: #34495E  ;
    	width: 5%;
    	height: 20px;
	}
	.myslider:hover {
    	opacity: 1;
	}
</style>

<br>
<div class="row">
	<div class="col-md-3">
		<div class="card card-body">
			<a class="btn btn-warning" href="{% url 'home' %}"> &#8592; Back to Profile</a>
			<hr>
			<h3 style="text-align: center">Account Settings</h3>
			<hr>
			<img class="profile-pic" src="/static/images/avatar.jpg" ><!-- the pillow is not working{{request.user.customer.profile_pic.url}}-->
		
		</div>
	</div>
	<div class="col-md-9">
		<div class="card card-body">
			
			<form method="POST" action="" enctype="multipart/form-data">
				{% csrf_token %}
				{{form.as_p}}	
				{{form.errors}}<!--send a notification of why account was not created -->
				<hr>
			
				<input class="btn btn-success" type="submit" name="Update Information" >
			
				</form>
		</div>
		
		<div class="card card-body">
			<h2>Value Scores</h2><hr>

			<h5>Agriculture & Food</h5>
			<div>
  				<div class="rangeslider">
    				<input type="range" min="0" max="100" value="10" class="myslider" id="sliderRange1">
    				<p>Value: <span id="demo1"></span></p>
  				</div>
    
  				<script>
  					var rangeslider = document.getElementById("sliderRange1");
  					var output = document.getElementById("demo1");
  					output.innerHTML = rangeslider.value;
    
  					rangeslider.oninput = function() {
    				output.innerHTML = this.value;
  				}
  				</script>
			</div>

			<h5>Crime & Law Enforcement</h5>
			<div>
  				<div class="rangeslider">
    				<input type="range" min="0" max="100" value="10" class="myslider" id="sliderRange2">
    				<p>Value: <span id="demo2"></span></p>
  				</div>
    
  				<script>
 					var rangeslider = document.getElementById("sliderRange2");
  					var output = document.getElementById("demo2");
  					output.innerHTML = rangeslider.value;
    
  					rangeslider.oninput = function() {
   					output.innerHTML = this.value;
  					}
  				</script>
			</div>

			<h5>Economics & Public Finance</h5>
			<div>
  				<div class="rangeslider">
    				<input type="range" min="0" max="100" value="10" class="myslider" id="sliderRange3">
    				<p>Value: <span id="demo3"></span></p>
  				</div>
    
  				<script>
 					var rangeslider = document.getElementById("sliderRange3");
  					var output = document.getElementById("demo3");
  					output.innerHTML = rangeslider.value;
    
  					rangeslider.oninput = function() {
   					output.innerHTML = this.value;
  					}
  				</script>
			</div>

			<h5>Emergency Management</h5>
			<div>
  				<div class="rangeslider">
    				<input type="range" min="0" max="100" value="10" class="myslider" id="sliderRange4">
    				<p>Value: <span id="demo4"></span></p>
  				</div>
    
  				<script>
 					var rangeslider = document.getElementById("sliderRange4");
  					var output = document.getElementById("demo4");
  					output.innerHTML = rangeslider.value;
    
  					rangeslider.oninput = function() {
   					output.innerHTML = this.value;
  					}
  				</script>
			</div>

			<h5>Government Operations & Politics</h5>
			<div>
  				<div class="rangeslider">
    				<input type="range" min="0" max="100" value="10" class="myslider" id="sliderRange5">
    				<p>Value: <span id="demo5"></span></p>
  				</div>
    
  				<script>
 					var rangeslider = document.getElementById("sliderRange5");
  					var output = document.getElementById("demo5");
  					output.innerHTML = rangeslider.value;
    
  					rangeslider.oninput = function() {
   					output.innerHTML = this.value;
  					}
  				</script>
			</div>

			<h5>Immigration</h5>
			<div>
  				<div class="rangeslider">
    				<input type="range" min="0" max="100" value="10" class="myslider" id="sliderRange6">
    				<p>Value: <span id="demo6"></span></p>
  				</div>
    
  				<script>
 					var rangeslider = document.getElementById("sliderRange6");
  					var output = document.getElementById("demo6");
  					output.innerHTML = rangeslider.value;
    
  					rangeslider.oninput = function() {
   					output.innerHTML = this.value;
  					}
  				</script>
			</div>

			<h5>Science, Technology, Communications</h5>
			<div>
  				<div class="rangeslider">
    				<input type="range" min="0" max="100" value="10" class="myslider" id="sliderRange7">
    				<p>Value: <span id="demo7"></span></p>
  				</div>
    
  				<script>
 					var rangeslider = document.getElementById("sliderRange7");
  					var output = document.getElementById("demo7");
  					output.innerHTML = rangeslider.value;
    
  					rangeslider.oninput = function() {
   					output.innerHTML = this.value;
  					}
  				</script>
			</div>

			<h5>Transporation & Public Works</h5>
			<div>
  				<div class="rangeslider">
    				<input type="range" min="0" max="100" value="10" class="myslider" id="sliderRange8">
    				<p>Value: <span id="demo8"></span></p>
  				</div>
    
  				<script>
 					var rangeslider = document.getElementById("sliderRange8");
  					var output = document.getElementById("demo8");
  					output.innerHTML = rangeslider.value;
    
  					rangeslider.oninput = function() {
   					output.innerHTML = this.value;
  					}
  				</script>
			</div>

		</div>
	

</div>



{% endblock %}