{%  extends 'accounts/main.html' %}
{% load static %}
{% block content %}

<style>
	.profile-pic{
		max-width: 200px;
		max-height:200px;
		margin: 0 auto;
		border-radius: 50%;
	}
	.box{
		height:25px;
		width: 60px;
	}
</style>

<br>
<div class="row">
	<div class="col-md-3">
		<div class="card card-body">
			<a class="btn btn-warning" href="{% url 'home' %}"> &#8592; Back to Profile</a>
			<hr>
			<h3 style="text-align: center">Account Settings</h3>
			<hr>
			<img class="profile-pic" src="/static/images/avatar.jpg" ><!-- the pillow is not working{{request.user.customer.profile_pic.url}}-->
		
		</div>
	</div>
	<div class="col-md-9">
		<div class="card card-body">
			
			<form method="POST" action="" enctype="multipart/form-data">
				{% csrf_token %}
				Name: <br>
				<input type="text" name="{{form.name.value}}"><br><br>
				Age: <br>
				<input type="text" name="Age" value="{{form.Age.value}}"><br>

				<br><h2>Value Scores</h2>
				<input type="number" class="box" name="military" min="0" max="100" value="{{form.military.value}}"> --Military<br>
				<input type="number" class="box" name="government" min="0" max="100" value="{{form.government.value}}"> --Government<br>
				<input type="number" class="box" name="education" min="0" max="100" value="{{form.education.value}}"> --Education<br>
				<input type="number" class="box" name="healthcare_and_medicare" min="0" max="100" value="{{form.healthcare_and_medicare.value}}"> --Healthcare & Medicare<br>
				<input type="number" class="box" name="veteran_affairs" min="0" max="100" value="{{form.veteran_affairs.value}}"> --Veteran Affairs<br>
				<input type="number" class="box" name="housing_and_labor" min="0" max="100" value="{{form.housing_and_labor.value}}"> --Housing & Labor<br>
				<input type="number" class="box" name="international_affairs" min="0" max="100" value="{{form.international_affairs.value}}"> --International Affairs<br>
				<input type="number" class="box" name="energy_and_environment" min="0" max="100" value="{{form.energy_and_environment.value}}"> --Energy & Environment<br>
				<input type="number" class="box" name="Science" min="0" max="100" value="{{form.Science.value}}"> --Science<br>
				<input type="number" class="box" name="transportation_and_infrastructure" min="0" max="100" value="{{form.transportation_and_infrastructure.value}}"> --Transporation & Infrastructure<br>
				<input type="number" class="box" name="food_and_agriculture" min="0" max="100" value="{{form.food_and_agriculture.value}}"> --Food & Agriculture<br>
				<input type="number" class="box" name="socialsecurity_or_unemployment" min="0" max="100" value="{{form.socialsecurity_or_unemployment.value}}"> --Social Security & Unemployment<br>

				<hr>
				

				<input class="btn btn-success" type="submit" name="Update Information" >
			</form>
			{% for message in messages %}
				<p id="messages">{{message}}</p>
			{% endfor %}
		</div>
	</div>
	

</div>



{% endblock %}