{%  extends 'accounts/main.html' %}
{% block content %}
{% load static %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="https://cdn.zingchart.com/zingchart.min.js"></script> <!-- this just let our page know that we are going to use Zing chart command-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script><!-- we need this for the graph-->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<br>
<style>
	.container {
		position: relative;
		text-align: center;
		color: black;
		font-weight: 900;
		font-size: 28px;
	}
	.centered {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	</style>
<br>

<div class="row">
	{% csrf_token %}
	<div class="col-md">
		<a href="{% url 'bio' legislative.bioguide_id %}">
		<div class="container">
			<img src="{% static 'accounts/images/folder2.png' %}" style="width:80%;">
			<div class="centered">Bio</div> <!-- this Bio information -->
		</div></a>

	</div>

	<div class="col-md">
		<a href="{% url 'votes' legislative.bioguide_id %}">
			<div class="container">
				<img src="{% static 'accounts/images/folder2.png' %}" style="width:80%;">
				<div class="centered">Votes</div><!-- this voting Record information -->
			</div></a>
	
	</div>
	<div class="col-md">
		<a href="{% url 'funding' legislative.bioguide_id %}">
		<div class="container">
			<img src="{% static 'accounts/images/folder2.png' %}" style="width:80%;">
			<div class="centered">Funding</div> <!-- this bill funding information -->
		</div></a>
	</div>
	<!-- 
	<div class="col-md">
		<a href="">
			<div class="container">
				<img src="{% static 'accounts/images/folder2.png' %}" style="width:80%;">
				<div class="centered">Service Score</div>
			</div></a>
	</div>
	-->
	<div class="col-md">
		<br><br>
		<div class="card card-body">
			<h5>{{ legislative }}</h5>
			<hr>
		<canvas id="myChartdonut"></canvas>
		</div>	
	</div>
</div>
<div class="row">
	<!-- <div class="col-md">
		<a href="">
			<div class="container">
				<img src="/static/images/folder.png"  style="width:80%">
				<div class="centered">Position</div>
			</div></a>	
	</div> -->
	


</div>
{%  include 'accounts/comparelegislative.html'%}
<a class="btn btn-warning" href="{% url 'user-value' %}"> &#8592; Back to Value</a>

<!-- Javascript for the Zing chart-->
<!-- Just before the closing body tag is best -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script><script>
    var config = {
      type: 'doughnut',
      data: {
        datasets: [{
          data: ['{{ service }}', '{{ incompatible }}'],
          backgroundColor: ["#00aba9", "#b91d47"],
          label: 'Population'
        }],
        labels: [' Compatible ','Incompatible']//labels 
      },
      options: {
				title: {
            display: true,
            text: 'Service Score'
        },
        responsive: true,
			}
    };

 
    window.onload = function() {
      var ctx = document.getElementById('myChartdonut').getContext('2d');
      window.myPie = new Chart(ctx, config);
    };
  </script>

{% endblock content %}