{%  extends 'accounts/main.html' %}
{% block content %}

<script src="https://cdn.zingchart.com/zingchart.min.js"></script> <!-- this just let our page know that we are going to use Zing chart command-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script><!-- we need this for the graph-->
<br>

<div class="row">
		<div class="col-md-7">
			<h1>Welcome Back!</h1>
	</div>

	<div class="col-md">
	</div>
	<div class="col-md">
		{%  include 'accounts/profile_navigation_settings.html'%} <!-- include the naviation settings for relevant informantion-->
	</div>
</div>
{% if request.user.is_staff %}<!--set the permission for only staff to see if user is admin load navigation bar-->
<p style="color:red; font-size:20px;">This is simulated legislative user Mark Warner</p>
{% endif %}

<br>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<form method="get">
			

		    <div id="myChart"></div><!-- this so that Zing know where to put the chart-->
		  </form>
		</div>
	</div>
	
</div>
<br>


<!-- Javascript for the Zing chart-->
<!-- Just before the closing body tag is best -->
<script src="https://cdn.zingchart.com/zingchart.min.js"></script>
<script>
	var state ={	// hold our choice
		'items':[],
		'values':[],
	}

	//var objId = "{{question}}" /// store the question id into a variable

	var dataURL = `/profile/resultsdata/`   //the question path ID

//-----------------------------calling the data Chart
$.ajax({
		method:'GET', // the method we are using... telling it that we are using a GET Request data.. that we just want to retrive some data
		url:dataURL, // where we what to retrive the data from
		success:function(response){
			console.log('RESPONSE:', response)
			for (var i in response){ //

				var key = Object.keys(response[i])[0]   // grabing the keys example choice
				var value = Object.values(response[i])[0] // grabing the value example choice

				state.items.push(key)// grabing the keys example choice
				state.values.push(value)
			}

			console.log('STATE:', state) // console out the new state
			buildChart() // the function to graph it 

		}
	})

	//-----------------------------only build it if a fuction get call
		function buildChart(){
			//-----------------------------------------setting the data
			var chartData = {
			"type":"bar",//type of graph you want 
			"scale-x":{
				"values":state.items// x value for the chat data
			},
			"series":[
				{					
					"values":state.values// this the actual data or y value
				}
			]
		}

     //-------------------------  render the the chart data onto line 18
		zingchart.render({
		  id: "myChart",
		  data: chartData,
		});
	}

</script>
{% endblock content %}