{%  extends 'accounts/main.html' %}
{% block content %}

<script src="https://cdn.zingchart.com/zingchart.min.js"></script> <!-- this just let our page know that we are going to use Zing chart command-->

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>--><!-- we need this for the graph-->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>  -->

<br>


	{% if request.user.is_staff %}
	<!-- <h5>page still under development </h5> -->
	<div class="row">
		<div class="col-md-7">
			<h1>Other Elected Officials and me</h1>
			<!-- Standard loops here, change as necessary -->


	</div>
	{% for senator in senators %}
	<div class="col-md">
		<div class="card card-body">
			<h5>{{ senator.firstname }} {{ senator.lastname }}</h5>
			<canvas id="myChartdonut" style="width:70%;max-width:300px"></canvas> <!--Edit with the correct percentage-->
			<hr>
			<a class="btn btn-danger btn-sm btn-block" href="{% url 'user-learn-more' senator.id %}">Learn More</a>
			<!-- <a class="btn btn-success  btn-sm btn-block" href="">Compare </a>  -->
		</div>
	</div>
	{% endfor %}
	{% else %}
	<div class="row">
		<div class="col-md-7">
			<h1>My Elected Officials and I</h1>
			<!-- Standard loops here, change as necessary -->
	</div>
	{% if noelective %}
	{% for senator in senators %}
	<div class="col-md">
		<div class="card card-body">
			<h5>{{ senator.firstname }} {{ senator.lastname }}</h5>
			<canvas id="myChartdonut" style="width:70%;max-width:300px"></canvas> <!--Edit with the correct percentage-->
			<hr>
			<a class="btn btn-danger btn-sm btn-block" href="{% url 'user-learn-more' senator.id %}">Learn More</a>
			<!-- <a class="btn btn-success  btn-sm btn-block" href="">Compare </a>  -->
		</div>
	</div>
	{% endfor %}
	{% else %}

	{% for senator in senators %}
	<div class="col-md">
		<div class="card card-body">
			<h5>{{ senator.representative }}</h5>
			<canvas id="myChartdonut" style="width:70%;max-width:300px"></canvas> <!--Edit with the correct percentage-->
			<hr>
			<a class="btn btn-danger btn-sm btn-block" href="{% url 'user-learn-more' senator.representative.id  %}">Learn More</a>
			<!-- <a class="btn btn-success  btn-sm btn-block" href="">Compare </a>  -->
		</div>
	</div>
	{% endfor %}
	{% endif %}
	{% endif %}

</div>


<br>


{% endblock content %}

<!--{% for x in full_list %}-->
<!--<h2>{{ x.f_name }} {{ x.l_name }} {{ x.agg }} {{ x.mil }} {{ x.ed }} {{ x.intl }}-->
<!--    {{ x.def }} {{ x.energy }} {{ x.health }} {{ x.env }} {{ x.infra }} {{ x.sci }}</h2>-->
<!--{% endfor %}-->