{%  extends 'accounts/main.html' %}<!-- inherite from main template-->

{% block content %}

<br>

<div class="row"><!----row---->
	<div class="col-md-5"><!----col-md-5  size of the column---->
		<h5>ADMIN USER:</h5>
		<hr>
		<div class="card card-body"><!----card---->
			
			
		</div><!--x--card--x-->
	</div><!--x--col-md-5  size of the column--x-->

	<div class="col-md-7"><!----col-md-7  size of the column---->
		
	</div><!--x--col-md-7  size of the column--x-->

</div><!--x--row--x-->

{% endblock %}

