{% load static %}

<style>
  .hello-msg{
    font-size: 25px;
    color: rgb(3, 3, 3);
    margin-right: 20px;
  }
</style>
<!-- As a link -->


  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #A4C2F4;"><!-- color for the nav bar -->
  <img src=""> <!---{% static '/images/logo.png' %}-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      {% if request.user.is_staff %}<!--set the permission for only staff to see if user is admin load navigation bar-->
      <li class="nav-item active">
        <a class="nav-link" style="text-align: center;padding: 10px; font-size: 20px; color:black" href="{% url 'home' %}">Dashboard</a><!--dynamic-->
      </li>
      {% else %}
      <li class="nav-item">
       <a class="nav-link" style="text-align: center;padding: 10px; font-size: 20px;color:black" href="{% url 'home' %}">Profile</a> <!-- only customer can update their settings-->
     </li>
     <li class="nav-item active">
      <a class="nav-link" style="text-align: center;padding: 10px; font-size: 20px;color:black" href="{% url 'user-value' %}">Value</a> <!-- only customer can update their settings-->
    </li>
    <li class="nav-item active">
      <!--<a class="nav-link" style="text-align: center;padding: 10px; font-size: 20px;color:black" href="{% url 'account' %}">Settings</a> --><!-- only customer can update their settings-->
    </li>
     {% endif %}
    </ul>
  </div>

  <!---- Authentication---->
  <span class="hello-msg">Hello, {{request.user}} </span><!----display current user name Authentication---->
  <span ><a  class="hello-msg" href="{% url 'logout' %}"> |  Logout</a></span>
  <!--X-- Authentication --X-->
</nav>